<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
  <h1>Welcome to the Travel Diary</h1>
  <a href='/words/new'>Add a Word and Phrase</a>


  </body>
</html>
