@using WordCounter.Models;
<html>
  <head>
    <meta charset='utf-8'>
    <title>Word Counter</title>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>

    <h1>The number of times your word was in the phrase!</h1>

    <h2>@Model.WordCounter()</h2>

    <a href="/words/new">Try Again.</a>
</body>
  <html>
